@import "src/app/styles/mixins/media-queries.scss";

.accordion {
  padding-top: 64px;
  margin-bottom: 80px;

  button {
    width: 100%;
  }

  [class*="szh-accordion__item-content"] {
    transition: height 0.3s cubic-bezier(0, 0, 0, 1);
  }
  [class*="szh-accordion__item-panel"] {
    padding-top: 50px;
    padding-bottom: 28px;
  }
}
.accordionItem {
  padding: 28px 18px 42px;
  background-color: #fff;
  border-radius: 40px;
  margin-bottom: 24px;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.05);
  @include desktopMedium {
    padding: 28px 32px 40px 48px;
  }
}

.accordionItem:last-of-type {
  margin-bottom: 0;
}
