@import "src/app/styles/mixins/media-queries.scss";

.info-line-container {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background: url("/images/header-bg.png") center / cover no-repeat;
  color: white;
  text-align: center;
}
