@import "./media-queries.scss";

@mixin text-style-headline-1 {
  font-family: "SF Pro", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 860;
  line-height: normal;

  @include tablet {
    font-size: 32px;
  }

  @include desktop {
    font-size: 48px;
  }

  @include desktopMedium {
    font-size: 64px;
  }
}

@mixin text-style-headline-2 {
  font-size: 20px;
  font-style: normal;
  font-weight: 590;
  line-height: normal;

  @include tablet {
    font-size: 16px;
  }

  @include desktopMedium {
    font-size: 20px;
  }
}

@mixin text-style-headline-3 {
  font-family: "SF Pro", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;

  @include tablet {
    font-size: 46px;
    letter-spacing: 1.84px;
  }

  @include desktop {
    font-size: 49px;
    letter-spacing: 1.96px;
  }
}

@mixin text-style-headline-4 {
  font-family: "SF Pro", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 590;

  @include desktop {
    font-size: 32px;
  }

  @include desktopMedium {
    font-size: 36px;
  }
}

@mixin text-style-headline-5 {
  font-family: "SF Pro", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 274;

  @include tablet {
    font-size: 31px;
    letter-spacing: 1.84px;
  }
}

@mixin text-style-headline-6 {
  font-family: "SF Pro", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0.88px;

  @include tablet {
    font-size: 25px;
    letter-spacing: 1px;
  }
}

@mixin text-style-base {
  font-family: "SF Pro", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 274;
  line-height: normal;

  @include tablet {
    font-size: 16px;
  }

  @include desktopMedium {
    font-size: 24px;
  }
}
@mixin text-style-large {
  font-family: "SF Pro", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0.8px;
}

@mixin text-style-headline-extra-large {
  font-family: "SF Pro", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 590;
  line-height: normal;
  text-transform: uppercase;

  @include tablet {
    font-size: 20px;
  }

  @include desktop {
    font-size: 36px;
  }
}

@mixin text-style-footer {
  font-size: 12px;

  @include mobile-medium {
    font-size: 14px;
  }

  @include desktop {
    font-size: 16px;
  }
}

@mixin text-style-xsmall {
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0.4px;
}
